@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Silkscreen', cursive;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    background-repeat: no-repeat;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hide {
    display: None;
}

.card {
    display: flex;
    flex-direction: row;

    min-height: 25vh;

    border-radius: 20px;

    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    
}

        

.image-side {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-side {
    width: 67%;
}

img {
    width: 70%;
    border-radius: 50%;
}

.bio-side p {
    font-family: 'Peralta', cursive;
}

.info {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    padding: 2px;
}

.form__input {
font-family: 'Roboto', sans-serif;
color: #333;
font-size: 1.2rem;
    margin: 0 auto;
padding: 1.5rem 2rem;
border-radius: 0.2rem;
background-color: rgb(255, 255, 255);
border: none;
width: 90%;
display: block;
border-bottom: 0.3rem solid transparent;
transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
opacity: 0;
visibility: hidden;
-webkit-transform: translateY(-4rem);
transform: translateY(-4rem);
}

.form {
    margin: 10px;
}

main {
    margin: 10%;
}